/* whole page css */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@font-face {
    font-family: Roxbowow;
    src: url(./Roxborough\ CF.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roxbowow;
    color:black;
}
html{
    background-color: #EE82EE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23EE82EE'/%3E%3Cstop offset='1' stop-color='%23231645'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%231E90FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231E90FF' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%231E90FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231E90FF' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


/* navbar */
.topnav{
    background-color:#100c08;
    overflow:hidden;
    padding-top:5px;
}
.topnav a{
    float:left;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navbarImage{
    height:40px;
    width:auto;
}
.rightnav{
    float:right;
}
a{
    color:#fff;
    border-radius:15px;
}
.rightnav a:hover{
    background-color: #4e11ca;
}
.profile{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}
.profile img{
    margin-right:1rem;
    height:455px;
    width:auto;
    border-radius: 25%;
    border:10px black solid;
}
.profileContent h1{
    font-size:80px;
    text-align: center;
}
.profileContent{
    margin-left:1rem;
    text-align: center;
}
.profileContent h2{
    font-size:40px;
    text-align: center;
}
.profileContent h4{
    color:black;
}


/* job cards */
h3,
h4{
    margin:0;
}
.container{
    margin-top:5rem;
    display:flex;
    gap:50px;
    align-items:center;
    justify-content: center;
    font-family:"Varela Round", sans-serif;
    line-height:1.5em;
}
.item{
    --color: #231645;
    width:250px;
    height:395px;
    background-color: var(--color);
    border-radius:10px;
    padding: 10px 5px;
    box-shadow: #3c40434d 0px 1px 2px 0px,
                #3c404346 0px 1px 3px 1px;
    position:relative;
    cursor:pointer;
}
.item::after{
    content:"";
    position:absolute;
    top:8px;
    left:0;
    z-index: 2;
    height:80%;
    box-sizing:border-box;
    border-style:solid;
    border-color:transparent
    transparent transparent var(--color);
    border-width: 40px 40px 40px 40px;
    filter:drop-shadow(5px 0 4px #00000094);
    transition:filter.5s
}
.layer{
    height:370px;
    background-color:#f2f2f2;
    border:1px solid #fff;
    border-radius:inherit;
    padding:20px;
    box-shadow: #00000012 0px 1px 2px,
                #00000012 0px 2px 4px,
                #00000012 0px 4px 8px,
                #00000012 0px 8px 16px,
                #00000012 0px 16px 32px,
                #00000012 0px 32px 64px;
                position:relative;
                left:10px;
                transition:left 1s;
}
h3{
    font-weight:600;
    text-align:center;
    color:var(--color);
    font-size:18px;
    margin-bottom:1rem;
}
h4{
    color:black;
    text-align:center;
    padding-top:10px;
    font-size:22px;
    margin-bottom:1rem;
}
p{
    color:#000;
    font-size:16px;
    font-weight:bold;
}
span{
    width:40px;
    height:40px;
    color:#fff;
    background-color: lightblue;
    border-radius:50%;
    display:grid;
    place-content:center;
    box-shadow: #00000012 0px 1px 2px,
                #00000012 0px 2px 4px,
                #00000012 0px 4px 8px,
                #00000012 0px 8px 16px,
                #00000012 0px 16px 32px,
                #00000012 0px 32px 64px;
    font-size:14px;
    position:absolute;
    right:5px;
    bottom:5px;
}
.item:hover:after{
    filter:drop-shadow(6px 0 4px #0000001a)
}
.item:hover .layer{
    left:50px;
}
.jobs{
    align-content:center;
    position:absolute;
    top:9%;
    font-size:40px;
    color:black;
}


/* bottom row */
.bottomRow{
    display:flex;
    justify-content:space-evenly;
    margin-top:3rem;
}


/* education section */
.bottomContainers{
    background-color: #231645;
    padding:40px;
    border-radius: 25px;
}
.bottomContainers h2{
    color:white;
    font-size:25px;
}
.bottomHeaders{
    text-align:center;
    color:white;
    font-size:40px;
    margin-bottom:2rem;
}
li{
    color:white;
    margin-left:35px;
}
.skills li{
    font-size:25px;
}

/* Cards Carousel */
.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 420px;
    max-height: 290px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
}

/* This is the element that rotates with the animation */
.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
}

/* Individual cards */
.icon-cards__item {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
}
.icon-cards__item:nth-child(1) {
    transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(35vw);
}
.icon-cards__item .first{
    margin-left:5rem;
    margin-top:5rem;
    color:white;
}
.icon-cards__item .second{
    margin-left:3rem;
    margin-top:5rem;
    color:white;
}
.icon-cards__item .third{
    margin-left:3rem;
    margin-top:5rem;
    color:white;
}


/* Carousel animation */
@keyframes carousel {
    0%, 17.5% { transform: translateZ(-35vw) rotateY(0); }
    27.5%, 45% { transform: translateZ(-35vw) rotateY(-120deg); }
    55%, 72.5% { transform: translateZ(-35vw) rotateY(-240deg); }
    82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}


/* projects placement */
.projects {
    position: absolute;
    left:40%;
    top:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.projects h1{
    position:absolute;
    top:10%;
    font-size:50px;
}
.images{
    height:290px;
    width:420px;
    border:10px black solid;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.projects .projectsHeader{
    position:absolute;
    top:-35%;
    font-size:60px;
}



/* Jelly checkbox animation */
@keyframes jelly {
    from { transform: scale(1, 1); }
    30% { transform: scale(1.25, 0.75); }
    40% { transform: scale(0.75, 1.25); }
    50% { transform: scale(1.15, 0.85); }
    65% { transform: scale(0.95, 1.05); }
    75% { transform: scale(1.05, 0.95); }
    to { transform: scale(1, 1); }
}  

/* footer content */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#4C4E52;
    padding: 20px 0;
    color: white;
    text-align: center;
}
.social-links {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}
.social-links li {
    display: inline-block;
    margin: 0 10px;
}
social-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.social-links li a:hover {
    color: #1abc9c;
}
p{
    color:white;
}