* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, Avenir, and Avenir Light;
    background-image: url("349021.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0;
    padding: 0; */
}

.topnav {
    background-color: #100c08;
    overflow: hidden;
    padding-top: 5px;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarImage {
    height: 40px;
    width: auto;
}

.rightnav {
    float: right;
}

a {
    color: #fff;
    border-radius: 15px;
}

.rightnav a:hover {
    background-color: lightslategray;
}